<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Formulario</title>
</head>
<body>
    
    {% if miForm.errors %}

    <p style="color: red"> Estan mal los datos, ¡Revisar!</p>
        
    {% endif %}
        
    
    <form action="/AppCoder/cursoFormulario/" method="POST"> {% csrf_token %}
        
        <!-- <p>Curso: <input type="text" name="curso" placeholder="Ingrese Nombre"></p>-->

         <!--<p>Camada: <input type="text" name="camada" placeholder="Ingrese Camada"></p>-->

         <!--<input type="submit" value="Crear"> -->

         {{miForm.as_p}}
         <input type="submit" value="Crear">

    </form>

</body>
</html>